
@theme-red-deep:#D32F2F;
@theme-red-normal:#E57373;
@theme-red-light:#EF9A9A;
@theme-red-color-deep:#FFCDD2;

@theme-white-color:#FFFFFF;

@theme-deep:#000000;
@theme-normal:#424242;
@theme-light:#757575;
@theme-color-deep:#9E9E9E;
@theme-color:#E0E0E0;
