@font-face{
    font-family: 'myfont';
    src: url('./icomoon.eot') format('eot'),
    url('./icomoon.svg') format('svg'),
    url('./icomoon.ttf') format('ttf'),
    url('./icomoon.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body{
  background: red;
}

.hello {
  color: red;
  font-family: myfont;
  background: url('./rocket.jpg');
}