@font-face{
    font-family: 'myfont';
    src: url('./icomoon.eot') format('eot'),
    url('./icomoon.svg') format('svg'),
    url('./icomoon.ttf') format('ttf'),
    url('./icomoon.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body{
  background: #1e1e1e;
  color: #eeeeee;
}
