<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板</title>
</head>
<body>

</body>
</html>
<script type="text/javascript">
    /*
     JS中的RegExp对象:
     创建
     创建方法1: var reg = new RegExp("正则")
     创建方法2: var reg = /正则/;    推荐使用这种
     使用:
     reg.exec(string) 可以检测字符串
     */
    var str3 = '我是一匹来自北方的name,我爱吃的食物是food';

    // 用正则 获取name
    // 两个 // 可以快速 定义正则对象 /正则的规则/
    var reg = /name/;
    var reg2 = /food/;

    // 查找 name
    var result = reg.exec(str3);
     console.log(result);

    // 查找food
    var result2 = reg2.exec(str3);
     console.log(result2);

    // 问题1 现在的正则 是十分单一的 想要变为一个 通用型的正则


    /*
     正则含义
     <%:以 <% 开始
     =\s* "="号之后有0个或多个空白字符
     ([^%>]+\S): 匹配除了%>以外的所有字符(至少1个)
     \s*:0个或多个空白字符
     %>:以%>结束
     var reg = /<%=\s*([^%>]+\S)\s*%>/;
     */

    // 优化 正则 为一个通用的正则
    // 查找 至少一个字母
    var reg3  = /\w+/;

    // 挖好坑的 字符串
    var str3 = '我是一匹来自北方的name,我爱吃的食物是food';

    // 准备一个对象 用来填坑
    var obj ={
        name:"秋田",
        food:"hotdog"
    };

    // 检索字符串
    // 是一个数组 只有一个元素  先匹配到name
    var result3 = reg3.exec(str3);

    // 获取 匹配到的 值
    var keyName = result3[0];
    console.log(keyName);

    // 通过keyName  在对象中 获取 对应的 值
    var value = obj[keyName];
    console.log(value);

    // 替换 挖好坑的 字符串中的 name 为秋田
    /*
     replace方法
     参数1:想要替换的内容
     参数2:替换为什么
     */
    console.log('替换之前'+str3);
    str3 = str3.replace(keyName,value);
    console.log('替换之后'+str3);




    // 定义文本
    var str = '大家好，我叫<%= name %>，我今年<%= age %>，我的爱好为:<%= skill %>';
    // 定义数据
    var data = {
        name: 'itcast',
        age: 10,
        skill:'打篮球'
    };

    // 快速的创建方法,好处,直接使用 \ 即可 不需要考虑 转义
    var reg = /<%=\s*([^%>]+\S)\s*%>/;
    // 返回的是一个对象
    var match = null;

    // 使用while循环进行检查,知道没有匹配的内容
    while (match = reg.exec(str)){
        // 匹配到的字符串
        var mathString = match[0];//name
        // 子表达式匹配到的字符串
        var subString = match[1];//index
        // 打印文本内容
        console.log("循环中:"+str);
        // 替换字符串的内容
        var str = str.replace(mathString,data[subString]);
        match = reg.exec(str);
    }
    console.log("循环完毕:"+str);
</script>