body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,
p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,
menu,nav,section{margin:0;padding:0}

img{ display: block; border: 0; max-width: 100%; vertical-align: middle;}

@media screen and (min-width: 320px) {
  html{ font-size: 20px }
}
@media screen and ( min-width: 360px) {
  html{ font-size: 22.5px }
}
@media screen and ( min-width: 375px) {
  html{ font-size: 23.4575px }
}
@media screen and ( min-width: 400px) {
  html{ font-size: 25px }
}
@media screen and ( min-width: 414px) {
  html{ font-size: 25.875px }
}
@media screen and ( min-width: 480px) and (orientation:portrait) {
  html{ font-size: 30px }
}
@media screen and ( min-width: 600px) and (orientation:portrait) {
  html{ font-size: 37.5px }
}
@media screen and ( min-width: 640px) and (orientation:portrait) {
  html{ font-size: 40px }
}
@media screen and ( min-width: 700px) and (orientation:portrait) {
  html{ font-size: 44px }
}
@media screen and ( min-width: 800px) and (orientation:portrait) {
  html{ font-size: 50px }
}
@media screen and ( min-width: 900px) and (orientation:portrait) {
  html{ font-size: 55px }
}